{% extends 'admin/base.html' %}

{% block main %}

    <div class="layui-fluid">
        <div class="layui-row layui-col-space30">
            <div class="layui-col-lg12">
                <table class="layui-hide" id="document-table" lay-filter="filter-document-table"></table>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
    {{ super() }}
    {# 工具栏#}
    <script type="text/html" id="toolbar-documents">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        </div>
    </script>

    {# 单元格工具#}
    <script type="text/html" id="toolbar-document">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script src="{{ url_for('static',filename='js/document.js') }}" charset="utf-8"></script>
{% endblock %}